/* primary fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common styles or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
nav {
  margin: 0 auto;

  height: 74px;
  width: 1265px;
  background-color: #562eff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}
h2 {
  color: white;
}
.left-side {
  display: flex;
  align-items: baseline;
}
.left-side-img {
  width: 40px;
}
.right-side {
  display: flex;
  padding: 20px;
}
.manu {
  display: flex;
  margin-right: 30px;
}
.manu a {
  text-decoration: none;
  color: white;
}
.manu a:hover {
  padding: 2px 8px;
  border-radius: 5px;
  background-color: rgba(245, 222, 179, 0.59);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 870px;
  /* height: 679px; */
  padding: 30px;
  margin-bottom: 21px;
  border-radius: 5px;
}
/* top players style */
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin: 16px;
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* ----------------
top blog section
------------------ */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}
/*----------------- 
    ourses styles
--------------------- */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}
.course {
  width: 252.42px;
  height: 269.79px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course-title {
  margin: 0%;
  font-size: 20px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-author {
  margin-top: 0%;
  color: #ed6b4f;
  font-size: 15px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.fa-star {
  font-size: 12px;
}
.course-duration {
  /* font-family: Open Sans; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ff4a60;
  border-radius: 15px;
  background-color: #ffe4e8;
  width: 94.83px;
  height: 29.38px;
  font-weight: 600;
  font-size: 14.6913px;
}

/* ------------------
     Media Queries
--------------------- */
/* Mobile devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .player,
  .blog {
    flex-direction: column;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Tablet Devices */
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
